.h1{font-size: 75px;
    background-color:gray;
    text-align: center;
    color:red;
    ;}
    
    .para{font-size: 30px;
    background-color:palevioletred;
    color:black;
    text-align: center;}