.h1{font-size: 75px;
    background-color:chartreuse;
    text-align: center;
    color:cornflowerblue;
    ;}
    
    .para{font-size: 30px;
    background-color:coral;
    color:blue;
    text-align: center;}